<!DOCTYPE html>
<html lang="es">
{{template "cabeza"}}

<body>
    {{template "cabecera"}}
    <main class="main">
        <section class="filters container">
            <ul class="contenedor__botones">
                <a href="/" class="button ">Home<i class="ri-home-8-fill"></i></a>
                <button class="button filter-tab-active" data-target="#BodegaYucal" id="btnBodegaYucal">Bodegas frente
                    al yucal</button>
                <button class="button" data-target="#ZonaBananera" id="btnZonaBananera">Fincas de la zona
                    bananera</button>
                <button class="button" data-target="#CabanaBermudez" id="btnCabanaBermudez">Cabing bermudez</button>
            </ul>
            <div class="filters__sections">
                <!-- PROYECTOS -->
                <div class="projects__content grid filters__active" data-content id="BodegaYucal">
                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/60 paneles 11 de noviembre/IMG_20220820_163642.jpg"
                            alt="" class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de generacion de energia <br> por medio de paneles
                                solares</span>
                            <h3 class="projects__title">proyecto realizado por <br> la entrada del barrio yucal en santa
                                marta</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/60 paneles 11 de noviembre/IMG_20220820_163652.jpg"
                            alt="" class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de generacion de energia <br> por medio de paneles
                                solares</span>
                            <h3 class="projects__title">proyecto realizado por <br> la entrada del barrio yucal en santa
                                marta</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/60 paneles 11 de noviembre/IMG_20220820_165940.jpg"
                            alt="" class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de generacion de energia <br> por medio de paneles
                                solares</span>
                            <h3 class="projects__title">proyecto realizado por <br> la entrada del barrio yucal en santa
                                marta</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/60 paneles 11 de noviembre/IMG_20220822_081512.jpg"
                            alt="" class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de generacion de energia <br> por medio de paneles
                                solares</span>
                            <h3 class="projects__title">proyecto realizado por <br> la entrada del barrio yucal en santa
                                marta</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/60 paneles 11 de noviembre/IMG_20220822_081607.jpg"
                            alt="" class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de generacion de energia <br> por medio de paneles
                                solares</span>
                            <h3 class="projects__title">proyecto realizado por <br> la entrada del barrio yucal en santa
                                marta</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/60 paneles 11 de noviembre/IMG_20220822_081617.jpg"
                            alt="" class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de generacion de energia <br> por medio de paneles
                                solares</span>
                            <h3 class="projects__title">proyecto realizado por <br> la entrada del barrio yucal en santa
                                marta</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/60 paneles 11 de noviembre/IMG_20220827_111614.jpg"
                            alt="" class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de generacion de energia <br> por medio de paneles
                                solares</span>
                            <h3 class="projects__title">proyecto realizado por <br> la entrada del barrio yucal en santa
                                marta</h3>
                        </div>
                    </article>

                </div>

                <div class="projects__content grid filters__desactivated" data-content id="ZonaBananera">

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/Zona bananera/IMG_20220902_102827.jpg" alt=""
                            class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de energia solar</span>
                            <h3 class="projects__title">realizado en fincas de la <br> zona bananera en el magdalena
                            </h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/Zona bananera/IMG_20220907_164834.jpg" alt=""
                            class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de energia solar</span>
                            <h3 class="projects__title">realizado en fincas de la <br> zona bananera en el magdalena
                            </h3>
                        </div>
                    </article>

                </div>

                <div class="projects__content grid filters__desactivated" data-content id="CabanaBermudez">
                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/cabanas bermudez/IMG_20220218_100937.jpg" alt=""
                            class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de energia solar</span>
                            <h3 class="projects__title">Instalacion de paneles para la generacion <br> electrica en un
                                camping del parque tayrona</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/cabanas bermudez/IMG_20220220_081313.jpg" alt=""
                            class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de energia solar</span>
                            <h3 class="projects__title">Instalacion de paneles para la generacion <br> electrica en un
                                camping del parque tayrona</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/cabanas bermudez/IMG_20220220_081324.jpg" alt=""
                            class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de energia solar</span>
                            <h3 class="projects__title">Instalacion de paneles para la generacion <br> electrica en un
                                camping del parque tayrona</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/cabanas bermudez/IMG_20220220_081336.jpg" alt=""
                            class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de energia solar</span>
                            <h3 class="projects__title">Instalacion de paneles para la generacion <br> electrica en un
                                camping del parque tayrona</h3>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="/static/media/img/energiaSolar/cabanas bermudez/IMG_20220511_150929.jpg" alt=""
                            class="projects__img">
                        <div class="projects__modal">
                            <span class="projects__subtitle">Proyecto de energia solar</span>
                            <h3 class="projects__title">Instalacion de paneles para la generacion <br> electrica en un
                                camping del parque tayrona</h3>
                        </div>
                    </article>

                </div>

            </div>
        </section>
    </main>

</body>
{{template "footer"}}
<script src="/static/js/script.js"></script>

</html>